@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-transition-duration: 300ms;
  --app-transition-duration: 200ms;
  --carousel-fade-length: 5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav a[class*="active"] {
  transition-duration: var(--nav-transition-duration);
  font-weight: bold;
  text-shadow:
    /* 0px 0px 1rem #52FFC2, */
    0px 0px 1.75rem #52FFC2,
    0px 0px 2.0rem #52FFC2;
}

nav a:hover {
  transition-duration: var(--nav-transition-duration);
  font-weight: bold;

}

a:hover .navLine {
  transition-duration: var(--nav-transition-duration);
  width: 3.5rem;
  border-top-width: 1.5px;
}

.navLine {
  transition-duration: var(--nav-transition-duration);
  border-top-width: 1px;
  border-color: #52FFC2;
  width: 2.5rem;
  margin-left: 0.25rem;
  margin-right: 0.6rem;
}

a[class*="active"] .navLine {
  transition-duration: var(--nav-transition-duration);
  width: 3.5rem;
  border-top-width: 1.5px;
  box-shadow: 0px 0px 1.75rem 2px #52FFC2;
}

.textGlow {
  transition: var(--app-transition-duration);
}

.textGlow:hover {
  text-shadow:
    0 0 1rem #52FFC2,
    0 0 1.75rem #52FFC2,
    0 0 2.0rem #52FFC2;
  transition: var(--app-transition-duration);
}


.iconGlow {
  transition: var(--app-transition-duration);
}

.iconGlow:hover {
  filter: drop-shadow(0 0 0.8rem #52FFC2) drop-shadow(0 0 0.5rem #52ffc27a);
  transition: var(--app-transition-duration);
}

.iconGlowXl {
  transition: var(--app-transition-duration);
}

.iconGlowXl:hover {
  filter: drop-shadow(0 0 0.8rem #52FFC2) drop-shadow(0 0 0.5rem #52ffc27a) drop-shadow(0 0 0.5rem #52ffc27a);
  transition: var(--app-transition-duration);
}

.boxGlow {
  box-shadow:
    0px 0px 0.75rem 2px #52FFC2;
}

.bgGlow {
  filter: drop-shadow(0 0 100px #52FFC2) drop-shadow(0 0 100px #52FFC2) drop-shadow(0 0 100px #52FFC2) drop-shadow(0 0 100px #52FFC2) blur(100px);
}

.aboutImageGlow {
  box-shadow:
    0px 0px 1rem 2px #ffffff;
}

.heroBgGlow {
  box-shadow:
    0px 0px 1rem 1px #52FFC2;
}

.heroImageGlow {
  filter: drop-shadow(0 0 0.5rem #FFFFFF);
}

.carousel {
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 5%,
      white 95%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}